{% extends "_master.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container-fluid">
  <h1 class="title">Login</h1>
  <div class="row">
    <div class="col-sm">
      <form action="/loginsubmit" method="post">
        <label for="username">Username</label><br>
        <input name="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>
        <br><br>
        <input type="submit" value="Login">
      </form>
      </br>
    </div>
  </div>
  <p>or</p>
  <h5><a class="signup" href="/signup">Sign Up</a></h5>
</div>

{% endblock %}
